{% extends "base.html" %}

{% block content %}
    <div class="two wide column"></div>

    <div class="twelve wide column">

        <h1 class="color-h-green">Cadastro de Livro</h1>

        <form class="ui form segment" method="POST" action="{% url 'estante:cadastro_livro' %}">
            {% csrf_token %}

            <div class="one field">
                <div class="field">
                    <label class="color-label-brown">Título:</label> {# {{form.username.label}} #}
                    {{ form.titulo }}
                    {% if form.titulo.errors %}
                        <div class="ui red pointing label">
                            {{ form.titulo.errors }}
                        </div>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="color-label-brown">Resumo:</label>
                    {{ form.resumo }}
                    {% if form.resumo.errors %}
                        <div class="ui red pointing label">
                            {{ form.resumo.errors }}
                        </div>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="color-label-brown">Autor:</label>
                    {{ form.autor }}
                    {% if form.autor.errors %}
                        <div class="ui red pointing label">
                            {{ form.autor.errors }}
                        </div>
                    {% endif %}
                </div>

            </div>

            <div class="ui grid">
                <div class="sixteen wide column">
                    <button type="submit" class="ui green button color-button right floated">Cadastrar</button>
                </div>
            </div>

        </form>
    </div>

    <div class="two wide column"></div>

{% endblock %}
