<html>
	<head>
		<title>Treinamento</title>
		<meta charset="utf-8">
		<link rel='stylesheet' type='text/css' href='semantic/semantic.min.css'>
	</head>
	<body>
		<header>
			<div class='ui inverted menu'>
				<a class='item floated left'>
					<h3>
						<i class='ui coffee icon'></i>
						Treinamento Fábrica						
					</h3>
				</a>
				<a class='item'>
					<h3>
						<i class='ui user icon'></i>
						Contatos
					</h3>
				</a>
				<a class='item'>
					<h3>
						<i class='ui bell icon'></i>
						Avisos
					</h3>
				</a>
			</div>
		</header>
		<article>
			<div class='ui grid'>
				<div class='row'>
					<div class='two wide column'>
					</div>
					<div class='ui segment twelve wide column'>
						<div class='ui grid'>
							<h1>Treinamento</h1>
							<div class='row'>
								<div class='five wide column'>
									<h3>Lorem ipsum</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce arcu nunc, gravida sed tincidunt eget, lobortis eget libero. Nulla tempus finibus erat ac blandit. Donec efficitur velit eu egestas sagittis. Integer tincidunt, dolor sed scelerisque gravida, elit nisl cursus tortor, et posuere sapien metus in felis. Curabitur porta diam id nisi feugiat, nec egestas ante imperdiet. Curabitur sem libero, maximus nec neque sed, mollis faucibus leo. Fusce ac metus in nisi imperdiet dignissim nec non urna.
									<p class='ui divider'></p>
									Aenean ipsum nulla, auctor eu laoreet quis, pellentesque sed sem. Suspendisse porttitor dictum mi, iaculis hendrerit velit feugiat sit amet. In mauris augue, eleifend vitae odio in, fermentum mattis risus. Donec sapien libero, mattis ut efficitur nec, tempus quis risus. Aenean iaculis at arcu sed tincidunt. Cras ornare turpis lorem, ac mollis nulla ornare quis. Sed mauris neque, dictum quis orci efficitur, suscipit laoreet massa. Ut et efficitur mi. Nullam a dolor efficitur, tristique enim nec, tincidunt ipsum. Suspendisse mattis urna felis, id consequat felis scelerisque a. Mauris finibus turpis sed tincidunt porttitor. Vestibulum fringilla velit a diam lobortis faucibus. Morbi mattis viverra tortor, id facilisis nisl pellentesque et. Nam sodales bibendum dui, quis convallis metus suscipit sit amet. Donec facilisis libero nibh, eu semper quam hendrerit sit amet.
									</p>
								</div>
								<div class='six wide column'>
									<h3>Lorem ipsum</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce arcu nunc, gravida sed tincidunt eget, lobortis eget libero. Nulla tempus finibus erat ac blandit. Donec efficitur velit eu egestas sagittis. Integer tincidunt, dolor sed scelerisque gravida, elit nisl cursus tortor, et posuere sapien metus in felis. Curabitur porta diam id nisi feugiat, nec egestas ante imperdiet. Curabitur sem libero, maximus nec neque sed, mollis faucibus leo. Fusce ac metus in nisi imperdiet dignissim nec non urna.
									<p class='ui divider'></p>
									Aenean ipsum nulla, auctor eu laoreet quis, pellentesque sed sem. Suspendisse porttitor dictum mi, iaculis hendrerit velit feugiat sit amet. In mauris augue, eleifend vitae odio in, fermentum mattis risus. Donec sapien libero, mattis ut efficitur nec, tempus quis risus. Aenean iaculis at arcu sed tincidunt. Cras ornare turpis lorem, ac mollis nulla ornare quis. Sed mauris neque, dictum quis orci efficitur, suscipit laoreet massa. Ut et efficitur mi. Nullam a dolor efficitur, tristique enim nec, tincidunt ipsum. Suspendisse mattis urna felis, id consequat felis scelerisque a. Mauris finibus turpis sed tincidunt porttitor. Vestibulum fringilla velit a diam lobortis faucibus. Morbi mattis viverra tortor, id facilisis nisl pellentesque et. Nam sodales bibendum dui, quis convallis metus suscipit sit amet. Donec facilisis libero nibh, eu semper quam hendrerit sit amet.
									</p>
								</div>
								<div class='five wide column'>
									<h3>Lorem ipsum</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce arcu nunc, gravida sed tincidunt eget, lobortis eget libero. Nulla tempus finibus erat ac blandit. Donec efficitur velit eu egestas sagittis. Integer tincidunt, dolor sed scelerisque gravida, elit nisl cursus tortor, et posuere sapien metus in felis. Curabitur porta diam id nisi feugiat, nec egestas ante imperdiet. Curabitur sem libero, maximus nec neque sed, mollis faucibus leo. Fusce ac metus in nisi imperdiet dignissim nec non urna.
									<p class='ui divider'></p>
									Aenean ipsum nulla, auctor eu laoreet quis, pellentesque sed sem. Suspendisse porttitor dictum mi, iaculis hendrerit velit feugiat sit amet. In mauris augue, eleifend vitae odio in, fermentum mattis risus. Donec sapien libero, mattis ut efficitur nec, tempus quis risus. Aenean iaculis at arcu sed tincidunt. Cras ornare turpis lorem, ac mollis nulla ornare quis. Sed mauris neque, dictum quis orci efficitur, suscipit laoreet massa. Ut et efficitur mi. Nullam a dolor efficitur, tristique enim nec, tincidunt ipsum. Suspendisse mattis urna felis, id consequat felis scelerisque a. Mauris finibus turpis sed tincidunt porttitor. Vestibulum fringilla velit a diam lobortis faucibus. Morbi mattis viverra tortor, id facilisis nisl pellentesque et. Nam sodales bibendum dui, quis convallis metus suscipit sit amet. Donec facilisis libero nibh, eu semper quam hendrerit sit amet.
									</p>
								</div>
							</div>
						</div>
						<br>
						<div class='row'>
							<div class='sixteen wide column'>
								<div class='ui segment'>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce arcu nunc, gravida sed tincidunt eget, lobortis eget libero. Nulla tempus finibus erat ac blandit. Donec efficitur velit eu egestas sagittis. Integer tincidunt, dolor sed scelerisque gravida, elit nisl cursus tortor, et posuere sapien metus in felis.</p>
							</div>
						</div>
						<br>
						<div class='row'>
							<div class="ui inverted segment">
							  <div class="ui inverted form">
							    <div class="two fields">
							      <div class="field">
							        <label>First Name</label>
							        <input placeholder="First Name" type="text">
							      </div>
							      <div class="field">
							        <label>Last Name</label>
							        <input placeholder="Last Name" type="text">
							      </div>
							    </div>
							    <div class="inline field">
							      <div class="ui checkbox">
							        <input type="checkbox" tabindex="0" class="hidden">
							        <label>Eu aceito os termos e condições</label>
							      </div>
							    </div>
							    <div class="ui submit button">Submit</div>
							  </div>
							</div>
						</div>
					</div>
					<div class='two wide column'>
					</div>

				</div>
			</div>
		</article>
		<footer>
			
		</footer>
	</body>
</html>