<!DOCTYPE html>

<html>

	<head>
		<title>Cadastro</title>
		<meta charset="utf-8">
		<link rel='stylesheet' type='text/css' href='semantic/semantic.min.css'>
	</head>

	<body>

		<header>
			<div class='ui segment'>
				<div class="ui menu">
					<div class="header item">
						Our Company
					</div>
					<a class="item">
						About Us
					</a>
					<a class="item">
						Jobs
					</a>
					<a class="item">
						Locations
					</a>
				</div>
			</div>
		</header><!-- /header -->

		<article>
			
			<div class='ui grid'>

				<div class='four wide column'>
					<div class="ui vertical pointing menu">
						<a class="item">
							Produtos
						</a>
						<a class="item">
							Pedidos
						</a>
						<a class="item">
							Cadastros
						</a>
						<a class="item">
							Consultas
						</a>
						<a class="item">
							Contato
						</a>
					</div>
				</div>
								
				<div class='twelve wide column'>
					<div class="ui attached message">
						<div class="header">
							Cadastro de clientes
						</div>
						<p>Preencha suas informações pessoais abaixo</p><br><br>
						<form class="ui form">
							<div class="field">
								<label>Nome</label>
								<input type="text" name="name" placeholder="Nome">
							</div>
							<div class="field">
								<label>Data de nascimento</label>
								<input type="date" name="birthday" placeholder="DD/MM/AAAA">
							</div>
							<div class="field">
								<label>E-mail</label>
								<input type="email" name="email" placeholder="usuario@email.com">
							</div>
							<div class="field">
								<label>CPF</label>
								<input type="text" name="cpf" placeholder="000.000.000-00">
							</div>
							<div class="field">
								<label>Telefone</label>
								<input type="text" name="telefone" placeholder="(xx) 0000-0000">
							</div>
							<button class="ui button" type="submit">Salvar</button>
						</form>

					</div>

				</div>
			</div>

		</article>

		<footer>

			<div class='four wide column'>
				
			</div>
			<div class='twelve wide column'>

				<div class="ui steps">
				  <div class="completed step">
   			        <i class="info icon"></i>
				    <div class="content">
				      <div class="title">Identificação</div>
				      <div class="description">Coloque seus dados pessoais</div>
				    </div>
				  </div>
				  <div class="active step">
			  	    <i class="truck icon"></i>
				    <div class="content">
				      <div class="title">Pedido</div>
				      <div class="description">Adicione itens ao pedido</div>
				    </div>
				  </div>
				  <div class="active step">
    			    <i class="payment icon"></i>
				    <div class="content">
				      <div class="title">Finalizar</div>
				      <div class="description">Confirme informações de pagamento e pedido</div>
				    </div>
				  </div>
				</div>
				
			</div>

		</footer>

	</body>

</html>